@{
    ViewData["Title"] = "Check your email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box text-center">
        <h2>Email sent</h2>
        <p>If we found an account with that email address, we've sent a link to reset your password.</p>
        <a asp-action="Login" class="btn btn-success mt-3">Back to login</a>
    </div>
</div>
